# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
dist-ssr/
build/
*.out

# Vite cache & TypeScript build info
.vite/
*.tsbuildinfo

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
